.owner-panel {
    box-shadow: none;

    .header {
        padding: 0 1em;

        border-radius: 8px;
        height: 7.25vh !important;
        background-color: rgb(108, 23, 30);

        &:hover {
          background-color: rgb(108, 23, 30, .7);
        }

        .plaque {
          border: 1px solid black;
          border-radius: -2em;
          width: 100%;
          padding: 0 1em;

          .description, .title-text {
            color: white;
            width: auto;
          }

          .description {
              margin: 0;
          }
        }
    }
}
