.owner-panel {
    box-shadow: none;
    
    .header {
        padding: 0 32px;
        background-color: #3b0d11;
        border-radius: 8px;
        
        .description, .title-text {
            color: white;
        }
        
        .description {
            justify-content: flex-end;
            align-items: center;
        }
    }
}
