.profile {
  border: .5px black;
  border-style: solid;
  width: 100%;
  box-sizing: border-box;
  padding: 2em;

  .header {
    width: 100%;

    h1 {
      margin: 0;
    }

    mat-icon {
      font-size: 2.5em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .body {

    .right {
      width: 100%;
    }
  }
}
