.owners {
    .owners-plaque {
      border: 1px solid black;
      height: auto;
      padding: 2em;
      padding-top: 0;

      .title {
        margin-bottom: 2em;

        h2 {
          font: {
            size: 36px;
          }
        }
      }
    }
}
