<div class="nameplate" (click)="selectOwner()" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="1 1 12.5%" fxLayout="row" fxLayoutAlign="center center">
    <div class="rivet"></div>
  </div>
  <div class="writing" fxFlex="1 1 75%"fxLayout="row" fxLayoutAlign="space-between center">
    <h4>{{owner.nickname}}</h4>
    <div fxLayoutAlign="end center">
      <mat-icon *ngFor="let championship of owner.championship_count | ngForByInteger">star</mat-icon>
    </div>
  </div>
  <div fxFlex="1 1 12.5%" fxLayout="row" fxLayoutAlign="center center">
    <div class="rivet"></div>
  </div>
</div>
